<!-- Clips List -->
<div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
  <a
    href="#"
    class="mt-6 transition duration-300 transform shadow-xl rounded-tl-2xl rounded-br-2xl bg-secondary hover:-translate-y-2 hover:shadow-2xl"
  >
    <!-- Image -->
    <img class="w-full card-img-top rounded-tl-2xl" src="assets/img/1.jpg" />

    <!-- Shape -->
    <div class="relative">
      <div
        class="absolute w-full text-white pointer-events-none bottom-full bg-secondary"
      >
        <div class="absolute w-full pb-5 overflow-hidden bottom-full">
          <svg
            viewBox="0 0 100 50"
            preserveAspectRatio="none"
            class="absolute bottom-0 w-full h-full tranform"
            style="transform-origin: top center; transform: scale(2)"
          >
            <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
          </svg>
        </div>
      </div>
    </div>

    <!-- Body -->
    <div class="p-8">
      <!-- Heading -->
      <h2 class="mb-2 text-3xl">Game Highlighting Clip</h2>

      <!-- Name & Date -->
      <p class="mb-0">
        Luis Ramirez &#183;
        <span class="text-gray-400">March 31, 2020</span>
      </p>
    </div>
  </a>
  <a
    href="#"
    class="mt-6 transition duration-300 transform shadow-xl rounded-tl-2xl rounded-br-2xl bg-secondary hover:-translate-y-2 hover:shadow-2xl"
  >
    <!-- Image -->
    <img class="w-full card-img-top rounded-tl-2xl" src="assets/img/2.jpg" />

    <!-- Shape -->
    <div class="relative">
      <div
        class="absolute w-full text-white pointer-events-none bottom-full bg-secondary"
      >
        <div class="absolute w-full pb-5 overflow-hidden bottom-full">
          <svg
            viewBox="0 0 100 50"
            preserveAspectRatio="none"
            class="absolute bottom-0 w-full h-full tranform"
            style="transform-origin: top center; transform: scale(2)"
          >
            <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
          </svg>
        </div>
      </div>
    </div>

    <!-- Body -->
    <div class="p-8">
      <!-- Heading -->
      <h2 class="mb-2 text-3xl">Game Highlighting Clip</h2>

      <!-- Name & Date -->
      <p class="mb-0">
        Luis Ramirez &#183;
        <span class="text-gray-400">March 31, 2020</span>
      </p>
    </div>
  </a>
  <a
    href="#"
    class="mt-6 transition duration-300 transform shadow-xl rounded-tl-2xl rounded-br-2xl bg-secondary hover:-translate-y-2 hover:shadow-2xl"
  >
    <!-- Image -->
    <img class="w-full card-img-top rounded-tl-2xl" src="assets/img/3.jpg" />

    <!-- Shape -->
    <div class="relative">
      <div
        class="absolute w-full text-white pointer-events-none bottom-full bg-secondary"
      >
        <div class="absolute w-full pb-5 overflow-hidden bottom-full">
          <svg
            viewBox="0 0 100 50"
            preserveAspectRatio="none"
            class="absolute bottom-0 w-full h-full tranform"
            style="transform-origin: top center; transform: scale(2)"
          >
            <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
          </svg>
        </div>
      </div>
    </div>

    <!-- Body -->
    <div class="p-8">
      <!-- Heading -->
      <h2 class="mb-2 text-3xl">Game Highlighting Clip</h2>

      <!-- Name & Date -->
      <p class="mb-0">
        Luis Ramirez &#183;
        <span class="text-gray-400">March 31, 2020</span>
      </p>
    </div>
  </a>
  <a
    href="#"
    class="mt-6 transition duration-300 transform shadow-xl rounded-tl-2xl rounded-br-2xl bg-secondary hover:-translate-y-2 hover:shadow-2xl"
  >
    <!-- Image -->
    <img class="w-full card-img-top rounded-tl-2xl" src="assets/img/2.jpg" />

    <!-- Shape -->
    <div class="relative">
      <div
        class="absolute w-full text-white pointer-events-none bottom-full bg-secondary"
      >
        <div class="absolute w-full pb-5 overflow-hidden bottom-full">
          <svg
            viewBox="0 0 100 50"
            preserveAspectRatio="none"
            class="absolute bottom-0 w-full h-full tranform"
            style="transform-origin: top center; transform: scale(2)"
          >
            <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
          </svg>
        </div>
      </div>
    </div>

    <!-- Body -->
    <div class="p-8">
      <!-- Heading -->
      <h2 class="mb-2 text-3xl">Game Highlighting Clip</h2>

      <!-- Name & Date -->
      <p class="mb-0">
        Luis Ramirez &#183;
        <span class="text-gray-400">March 31, 2020</span>
      </p>
    </div>
  </a>
  <a
    href="#"
    class="mt-6 transition duration-300 transform shadow-xl rounded-tl-2xl rounded-br-2xl bg-secondary hover:-translate-y-2 hover:shadow-2xl"
  >
    <!-- Image -->
    <img class="w-full card-img-top rounded-tl-2xl" src="assets/img/3.jpg" />

    <!-- Shape -->
    <div class="relative">
      <div
        class="absolute w-full text-white pointer-events-none bottom-full bg-secondary"
      >
        <div class="absolute w-full pb-5 overflow-hidden bottom-full">
          <svg
            viewBox="0 0 100 50"
            preserveAspectRatio="none"
            class="absolute bottom-0 w-full h-full tranform"
            style="transform-origin: top center; transform: scale(2)"
          >
            <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
          </svg>
        </div>
      </div>
    </div>

    <!-- Body -->
    <div class="p-8">
      <!-- Heading -->
      <h2 class="mb-2 text-3xl">Game Highlighting Clip</h2>

      <!-- Name & Date -->
      <p class="mb-0">
        Luis Ramirez &#183;
        <span class="text-gray-400">March 31, 2020</span>
      </p>
    </div>
  </a>
  <a
    href="#"
    class="mt-6 transition duration-300 transform shadow-xl rounded-tl-2xl rounded-br-2xl bg-secondary hover:-translate-y-2 hover:shadow-2xl"
  >
    <!-- Image -->
    <img class="w-full card-img-top rounded-tl-2xl" src="assets/img/1.jpg" />

    <!-- Shape -->
    <div class="relative">
      <div
        class="absolute w-full text-white pointer-events-none bottom-full bg-secondary"
      >
        <div class="absolute w-full pb-5 overflow-hidden bottom-full">
          <svg
            viewBox="0 0 100 50"
            preserveAspectRatio="none"
            class="absolute bottom-0 w-full h-full tranform"
            style="transform-origin: top center; transform: scale(2)"
          >
            <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
          </svg>
        </div>
      </div>
    </div>

    <!-- Body -->
    <div class="p-8">
      <!-- Heading -->
      <h2 class="mb-2 text-3xl">Game Highlighting Clip</h2>

      <!-- Name & Date -->
      <p class="mb-0">
        Luis Ramirez &#183;
        <span class="text-gray-400">March 31, 2020</span>
      </p>
    </div>
  </a>
</div>
